!!! 5
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  = partial 'layouts/head'

  %body{:class => page_classes}
    .page-wrapper
      %header.page-header{:role => "banner"}
        = link_to(image_tag('logo.png'), '/', :class => 'brand')
        %nav.page-nav
          %ul.nav-links
            %li.nav-link-item.guides= link_to "Guides", '/guides/'
            %li.nav-link-item.debates= link_to "Debates", '/debates/'
            %li.nav-link-item.events= link_to "Events", '/events/'
            %li.nav-link-item.about= link_to "About", '/about/'

      %div.page-content{:role => "main"}
        %article.post
          = yield
        %aside.secondary.sidebar
          = link_to 'Create an issue →', 'https://github.com/hybridgroup/betterfrontend/issues', :class => 'create-issue', :target => "_blank"
          = link_to 'Github repo →', 'https://github.com/hybridgroup.com/betterfrontend', :class => 'github-repo', :target => "_blank"
          = partial 'shared/follow_twitter'
          - if page_side_content
            = page_side_content
          #js-toc.toc
            %h1#js-toc-heading.toc-heading
              %a#js-toc-heading-title{:href => "/guides/"} Guides
              %a#js-toc-sections-expand.toc-sections-expand Expand Sections
            %ul#js-sections-flyout.toc-sections
              <li class='toc-section getting_started'><a href="/guides/">Getting Started</a></li>
              <li class='toc-section stylesheets'><a href="/guides/stylesheets">Stylesheets</a></li>
              <li class='toc-section markup'><a href="/guides/markup">Markup</a></li>
              <li class='toc-section design_patterns'><a href="/guides/design_patterns">Design Patterns</a></li>
              <li class='toc-section anti_patterns'><a href="/guides/anti_patterns">Anti Patterns</a></li>
              <li class='toc-section ruby_on_rails'><a href="/guides/rails">Ruby on Rails</a></li>
              <li class='toc-section boilerplates'><a href="/guides/boilerplates">Boilerplates</a></li>
              <li class='toc-section libraries'><a href="/guides/libraries">Libraries</a></li>
              <li class='toc-section tools'><a href="/guides/tools">Tools</a></li>
            %ul#js-toc-items
          
        %section.comments
          #disqus_thread

    %footer.page-footer{:role => "contentinfo"}
      = partial "layouts/footer"
    = partial "layouts/loadlast"
